:root {
    --colour-btn-font: white;
    --colour-btn-selected: #052849;
    --colour-btn : #0a77de;
    --colour-hover : #084d8e;
  }
  html,
body {
    height: 100%;
    width: 100%;
}



.left-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scale: 1;
}

.text-range {
    justify-content: center;
    font-size: large;
    letter-spacing: 0.5em;
}

.added-patterns-container {
    max-width: 100%;
    width: 100%
}

.modal-dialog {
    height: 80%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.patternbtn {
    background-color: var(--colour-btn);
    color: var(--colour-btn-font);
}

.selected-pattern {
    background-color: var(--colour-btn-selected);
    outline: var(--colour-btn-selected);
}

.patternbtn:not(.selected-pattern):hover {
    background-color: var(--colour-hover);
}

.patternbtn:hover {
    background-color: var(--colour-hover);
}